{% extends 'base.html.twig' %}

{% block title %}Hello Nova Danse{% endblock %}

{% block body %}
<body>



<nav class="NavBar">
    <ul>
        <li><a href="">NØVA DANSE</a></li>
        <li><a href="">Contact</a></li>
       
        <li><a href="">A propos de nous</a></li>
        <li><a href="">Cours/planning</a></li>
        <li><a href="">Accueil</a></li>
        
    </ul>
    <div class="menu-icon" id="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
       
        
    </div>
    </nav> 

<!-- Menu plein écran -->
<div class="fullscreen-menu" id="fullscreen-menu">
  <nav>
    <ul>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Profil</a></li>
      <li><a href="#">Abonnements</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>





<div class="header" >
<video autoplay loop muted playsinline width="90%" height="70%">
  <source src="{{ asset('video/2795748-uhd_3840_2160_25fps (1).mp4') }}" type="video/mp4">
  Your browser does not support the video tag.
</div><br/>

<h1>Association de danse</h1> 

<div class="parent">
    <div class="div1"></div>
    <div class="div3"></div>
    <div class="div5"></div>
    <div class="div6"></div>
    <div class="div7"></div>
</div>

<div class="parent__2">
    <div class="div2"></div>
    <div class="div8"></div>
    <div class="div9"></div>
    <div class="div10"></div>
    <div class="div11"></div>
</div>
    
    





<h1>Les prochains cours en studio</h1><br/>
  {% if upcoming_events is not empty %}
        
            {# Boucle sur les événements récupérés par l'API #}
            {% for event in upcoming_events %}
                {# Tente d'utiliser 'dateTime' (événement précis) ou 'date' (journée entière) #}
                {% set start_date = event.start.dateTime|default(event.start.date) %}
                
                <article class="p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 border-l-4 border-indigo-500">
                <div class="container">
                   
                    
                    <div class="dates">
                        {# Affichage de la date #}
                        <span style="font-size:38px; font-weight:bold; color:black;">
                            
                            {{ start_date|date('d') }}</span><br/>
                            <span>

                            {{ start_date|date('F Y') }}
                        </span>
                        </div>
                        <div class="information">
                         <h3 class="text-xl font-semibold text-gray-800">{{ event.summary }}</h3><br/>
                        {# Affichage de l'heure si disponible (non-événement d'une journée) #}
                        {% if event.start.dateTime is not null %}
                            <span>
                                <i class="fas fa-clock w-4 h-4 text-indigo-500 mr-1"></i> 
                                {{ start_date|date('H:i') }}
                            </span><br/>
                        {% endif %}
                        
                        {# Affichage du lieu #}
                        {% if event.location %}
                            <span class="lieu">
                                <i class="fas fa-map-marker-alt w-4 h-4 text-indigo-500 mr-1"></i> 
                                {{ event.location }}
                            </span>
                             </div>
                        {% endif %}
                    </div>
                    
                    {# Description #}
                    {% if event.description %}
                        <p class="text-gray-700 mt-3 text-sm">
                            {{ event.description|nl2br|length > 150 ? event.description|slice(0, 150) ~ '...' : event.description|nl2br }}
                        </p>
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center p-6 bg-yellow-100 border border-yellow-300 rounded-lg">
            <p class="text-yellow-800 font-medium">🎉 Aucune activité n'est actuellement programmée sur le calendrier.</p>
        </div>
    {% endif %}
</section>



<h1>VOTRE PREMIER COUR D’ESSAI OFFERT</h1>
<div class="geometry">
  <div class="cell cell-tl"><div class="shape shape1"><p><span style="color:#15BCE6;">ÉVEIL</span><br/>DÉS 4 ANS</p></div></div>
  <div class="cell cell-tr"><div class="shape shape2"><p><span style="color:#15BCE6;">DANSE</span><br/><span style="color:#E26F04;">MODERNE<Br/>ADULTE</span></p></div></div>
  <div class="cell cell-bl"><div class="shape shape3"><p><span style="color:#E26F04;">DANSE</span><br/>CLASSIQUE<Br/><span style="color:#15BCE6;">DÉS 6 ANS</span></p></div></div>
  <div class="cell cell-br"><div class="shape shape4"><p><span style="color:#15BCE6;">DANSE</span><br/><span style="color:#E26F04;">MODERNE</span><Br/>DÉS 11 ANS</p></div></div>
</div><br/><br/>
<h1 class="title">Des studios de danse,<br/>
<span></span></h1>
<div class="SectionsContainer">

  <div class="Section">
    <p>
      Studios climatisés équipés pour les danseurs<br/>
      amateurs et professionnels, vestiaires, cafés et snacks à l’accueil.
    </p>
    <div class="button">
      <p>Voir nos studios</p>
    </div>
  </div>
</div>
  <h1>Se dire en mouvement, <br/>
s’unir en dansant </h1>
<div class="SectionsContainer">

  <div class="Section">

    <p>
      Venez passer un moment unique à nos côtés,<br/>
      encadrés par des professionnels de danse agréés.
    </p>
    <div class="button">
      <p>Voir le planning</p>
    </div>
  </div>
</div>
<div class="flyer flyer-geometry">
<img src="{{ asset('Pictures/graceful-ballerina-in-white-tutu-dancing-on-pointe-against-black-background-png.webp') }}" alt="Flyer Nova Danse" class="flyer-bg anim-img">
<p style="color: #f5e6ad;">Aurélie Flavigny & Maya </p>
<h1 class="anim-top">COURS</h1>
<p style="transform: rotate(-45deg); margin:0px; left:20px;">DE</p>
<h1 class="anim-top">DANSE</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moderne et classique</p>
<p class="anim-left" style="transform: rotate(-90deg); float: left; margin-top:40px;">ESTRÉES-SAINT-DENIS</p>
<p class="static">NØVA DANSE</p><br/><br/><br/><br/><br/>
<p class="lieu" style="color: #F3EF0A; font-size: 28px; margin-top: 50px; float: left; "> Salle Boulanger et Multisport</p><br/><br/><br/><br/>
<p  style=" font-size: 28px;margin-top: 60px;  ">Lundi<br/>
Mercredi<br/>
Samedi<br/></p>
<p style="margin-top: 150px;">Inscription toute l’année</p>
</div>

</div>
<div class="Section" style="position:relative; margin-bottom:40px;"> 
    <p>
      Découvrez nos offres d’abonnement adaptées à vos besoins<br/>
      et profitez de cours de danse de qualité à des tarifs avantageux.
    </p>
 <div class="button" style=" margin:40px;">
      <p>Voir nos offres</p>
  </div>
</div>



<div class="column">
<h1 style="color:rgb(1, 5, 119);">Où nous trouver ?</h1>
<ul>

   
     <li> 
        <div class="card-image">
          <img src="{{ asset('Pictures/pexels-cottonbro-10637401.jpg') }}" alt="Plan Nova Danse">
        </div><br/>
            <p>Salle Boulenger</p>
    </li>

      <li>
        <div class="card-image">
          <img src="{{ asset('Pictures/pexels-anastasia-shuraeva-8935597.jpg') }}" alt="Plan Nova Danse">
        </div><br/>
            <p>Salle Multisport</p>
      </li>
</ul>

</div>

        <h1>Adhésion 2025/2026 - NØVADANSE</h1>
       <div class="container-adhesion">
  <div class="text-block">
    <p>
      Vous pouvez dès à présent réserver votre place et régler votre inscription via<br/>
      Hello Asso afin de préparer sereinement la rentrée. 
      Pour plus de détails<br/> sur nos modalités d'adhésion consultez nos tarifs et conditions ci-dessous.
    </p>
  </div>

  <div class="button">
    <p>Document à compléter et à fournir :</p>
    <ul>
      <li>Certificat médical pour les majeurs</li>
      <li>Questionnaire de santé pour les mineurs</li>
    </ul>
  </div>
</div>



<div class="sticky-wrapper ">
<div class="carrousel sticky desktop">
<ul>
  <li class="active" data-tab="eveil">Éveil</li>
  <li data-tab="classique">Classique</li>
  <li data-tab="preado">Pré-ado</li>
  <li data-tab="adultes">Adultes</li>
</ul>
</div>
</div>




<div class="courses-wrapper">
<div class="courses eveil">


        <div class="courses-image">
            <img src="{{ asset('Pictures/pexels-cottonbro-10640445.jpg') }}" alt="Cours Éveil">
        </div>
        <div class="description eveil">
            <h1 style="margin-top:25px;" >Éveil</h1>
            <ul>
            <li>Pour les enfants dès 4 ans, initiation ludique à la danse.</li>
            <li>COURS Eveil 1 Mercredi 17h15 - 18h00 (Mayra)</li>
            <li>Inscription pour les 4-5 ans</li>
            <li>Tenue obligatoire</li>
            <li>Licence A de la FFD incluse (24€)</li>


          </ul>
           
                <div class="button">
            <strong>64.66€<br />
                Par échéance<br />
                (Soit 193.98€ au total)</strong>
                </div>
        </div>
    </div>
    <div class="courses classique">


        <div class="courses-image">
            <img src="{{ asset('Pictures/pexels-anastasia-shuraeva-8935597.jpg') }}" alt="Cours classique">
        </div>
        <div class="description classique">
            <H1>Classique</h1>
            <ul>
            <li>Pour les enfants dès 4 ans, initiation ludique à la danse.</li>
            <li>COURS Classique 1 Mercredi 18h45 - 19h45</li>
            <li>Inscription pour les 7-13 ans</li>
            <li>Tenue obligatoire</li>
            <li>Licence A de la FFD incluse (24€)</li>
            <li>Règlement en 3 fois possible</li>

          </ul>
            <div class="button">
            <strong>71.33€<br />
                Par échéance<br />
                (Soit 213.99€ au total)</strong>
                </div>
        </div>
    </div>
    <div class="courses preado">


        <div class="courses-image">
            <img src="{{ asset('Pictures/pexels-cottonbro-10640395.jpg') }}" alt="Cours classique">
        </div>
        <div class="description preado">
            <H1>Pré-Ado</h1>
              <ul>
            <li>Inscriptions pour les 11 - 16 ans</li>
            <li>COURS PRE-ADO Lundi 17h30 - 19h00 (Aurélie)</li>

            <li>Tenue obligatoire</li>
            <li>Licence A de la FFD incluse (24€)</li>
            <li>Règlement en 3 fois possible</li>


          </ul>
            
            <div class="button">
            <strong>74.66€<br />
                Par échéance<br />
                (Soit 223.98€ au total)</strong>
                </div>
        </div>
    </div>
 <div class="courses adultes">


        <div class="courses-image">
            <img src="{{ asset('Pictures/pexels-agustina-croce-302580711-13411721.jpg') }}" alt="Cours classique">
        </div>
        <div class="description adultes">
            <H1>Adultes</h1>
              <ul>
            <li>Inscriptions à partir de 16 Ans</li>
            <li>COURS ADULTES Lundi 19h00 - 20h30 (Aurélie)</li>


            <li>Licence A de la FFD incluse (24€)</li>
            <li>Règlement en 3 fois possible</li>


          </ul>

          
            <div class="button">
            <strong style="text-align:center;">74.66€<br />
                Par échéance<br />
                (Soit 223.98€ au total)</strong>
                </div>
        </div>
    </div>
</div>
    <div class="CTA-button" >
    
    <p class="designBalance" style="text-align:center; margin:40px; ">Finaliser votre inscription sur <span class="design" >Hello Asso</span></p>
    </div>

    <div class="contact-form">
    <h1>Contactez-nous</h1>
     {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    </div>

    <div class="FAQ">
<h1 style="color:rgb(1, 5, 119);">Foire aux questions</h1><br/>
<p>Quels sont les âges recommandés pour commencer la danse classique et moderne ?<i class="fa-solid fa-chevron-down"></i></p><br/>
<div class="separator" ></div>
<p>Où sont situés les studios ?<i class="fa-solid fa-chevron-down"></i></p><br/>
<div class="separator" ></div>
<p>J'ai plein de questions, je peux parler à quelqu'un ?<i class="fa-solid fa-chevron-down"></i></p><br/>
<div class="separator" ></div>

</div>


 <!-- Espace de fin de page -->
  <footer>
  <div class="spacer" style="flex: 1;">
   <div class="footer-left">
            <h1>NØVA DANSE</h1><br />
            </div>
             <div class="footer-center">

            <a href="/">Accueil</a> <br /><br />
            <a href="">Planning</a> <br /><br />
            <a href="/">A propos de nous</a> <br /><br />
            <a href="/mentions-legales">Mentions légales & CGU</a> <br /><br />
            <button type="button" id="change-preferences"
                style=" bottom: 20px; right: 20px; cursor:pointer; background: none; border: none; color:white; text-decoration: underline; font-size: 1em; padding: 0; font-family: 'marianne';">
                Modifier mes préférences
            </button> <br /><br />
            <div class="icon-footer">
                <a href="https://www.instagram.com/nova.danse/?igsh=MXVjOHVta2wzajUzMg==" target="_blank"
                    rel="noopener">
                    <i class="fab fa-instagram fa-2x icon"></i>
                </a>
            </div>
            <br /><br />
            <p>&copy; 2025 NØVA DANSE. All rights reserved.</p><br />
            <i class="fas fa-chevron-up"></i><br />
            <a href="#top" class="top">TOP</a>
            </div>
        </footer>


</body>

{% endblock %}
         {% block javascripts %}
            









<script>
//burger menu open
const menuIcon = document.getElementById('menu-icon');
const fullscreenMenu = document.getElementById('fullscreen-menu');

// Fonction pour ouvrir/fermer le menu
function toggleMenu() {
  const isActive = fullscreenMenu.classList.toggle('active');
  menuIcon.classList.toggle('active', isActive);
  document.body.style.overflow = isActive ? 'hidden' : ''; // bloque/débloque le scroll
}

// Clique sur l’icône → ouvre/ferme
menuIcon.addEventListener('click', toggleMenu);

// Clique sur le menu → ferme
fullscreenMenu.addEventListener('click', (e) => {
  if (e.target.tagName === 'A' || e.target === fullscreenMenu) {
    toggleMenu();
  }
});

// animation des shapes

 document.addEventListener('DOMContentLoaded', () => {
  const shapes = document.querySelectorAll('.shape');
  const geometry = document.querySelector('.geometry');

  // 👇 Tableau de direction (X, Y) pour chaque shape
  // index 0 = shape 1, index 1 = shape 2, etc.
  const shapeDirections = [
    { x: -100, y: -100 }, // shape 1 : diagonale haut gauche
    { x:  100, y:   0 },  // shape 2 : horizontale droite
    { x: -100, y:   0 },  // shape 3 : horizontale gauche
    { x:  100, y:  100 }  // shape 4 : diagonale bas droite
  ];

  // 📍 Position initiale hors écran
  shapes.forEach((shape, i) => {
    const dir = shapeDirections[i] || { x: 0, y: 0 };
    shape.style.transform = `translate(${dir.x}px, ${dir.y}px)`;
    shape.style.opacity = 0;
  });

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {

        function updateShapes() {
          const rect = geometry.getBoundingClientRect();
          const offsetY = Math.min(Math.max(window.innerHeight - rect.top, 0), 600);
          const progress = offsetY / 600;

          shapes.forEach((shape, i) => {
            const dir = shapeDirections[i] || { x: 0, y: 0 };
            const moveX = dir.x * (1 - progress) * 0.5;
            const moveY = dir.y * (1 - progress) * 0.5;
            shape.style.transform = `translate(${moveX}px, ${moveY}px)`;
            shape.style.opacity = progress;
          });
        }

        updateShapes();
        window.addEventListener('scroll', updateShapes);
      }
    });
  }, { threshold: 0.1 });

  observer.observe(geometry);
});

//flyer animation
document.addEventListener('DOMContentLoaded', () => {
  const flyerImg = document.querySelector('.anim-img');
  const flyerTops = document.querySelectorAll('.anim-top');
  const flyerLeft = document.querySelector('.anim-left');
  const flyerGeometry = document.querySelector('.flyer-geometry');

  // Position initiale hors écran
  flyerImg.style.transform = 'translateX(100px)';
  flyerImg.style.opacity = 0;

  flyerTops.forEach(el => {
    el.style.transform = 'translateY(-100px)';
    el.style.opacity = 0;
  });

  flyerLeft.style.transform = 'translateX(-100px)';
  flyerLeft.style.opacity = 0;

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {

        function updateFlyer() {
          const rect = flyerGeometry.getBoundingClientRect();
          const offsetY = Math.min(Math.max(window.innerHeight - rect.top, 0), 600);
          const progress = offsetY / 600;

          // IMAGE
          const moveImg = 200 * (1 - progress) * 0.6;
          flyerImg.style.transform = `translateX(${moveImg}px)`;
          flyerImg.style.opacity = progress;

          // TITRES
          flyerTops.forEach(el => {
            const moveTop = -100 * (1 - progress) * 0.5;
            el.style.transform = `translateY(${moveTop}px)`;
            el.style.opacity = progress;
          });

          // TEXTE GAUCHE
          const moveLeft = -100 * (1 - progress) * 0.5;
          flyerLeft.style.transform = `translateX(${moveLeft}px) rotate(-90deg)`;
          flyerLeft.style.opacity = progress;
        }

        updateFlyer();
        window.addEventListener('scroll', updateFlyer);
      }
    });
  }, { threshold: 0.5 });

  observer.observe(flyerGeometry);
});
// Consolidated Carrousel + Selector + Swipe script
document.addEventListener('DOMContentLoaded', () => {
  const tabs = Array.from(document.querySelectorAll('.carrousel ul li'));
  const ul = document.querySelector('.carrousel ul');
  let selector = document.querySelector('.carrousel .selector');

  // create selector if missing
  if (!selector) {
    selector = document.createElement('div');
    selector.classList.add('selector');
    if (ul) ul.appendChild(selector);
  }

  const coursesWrapper = document.querySelector('.courses-wrapper');
  const courses = Array.from(document.querySelectorAll('.courses'));
  if (!tabs.length || !coursesWrapper || !courses.length) return;

  let currentIndex = 0;
  let isTouching = false;
  let startX = 0;
  let scrollDebounceTimer = null;

  // ---- helper: move + resize selector to target tab index
  function moveSelectorTo(index) {
    const tab = tabs[index];
    if (!tab || !selector) return;
    const { offsetLeft, offsetWidth } = tab;
    selector.style.left = `${offsetLeft}px`;
    selector.style.width = `${offsetWidth}px`;
  }

  // ---- helper: update active states, selector and index (no scrolling)
  function updateActive(index) {
    index = Math.max(0, Math.min(index, tabs.length - 1));
    tabs.forEach((t, i) => t.classList.toggle('active', i === index));
    courses.forEach((c, i) => c.classList.toggle('active', i === index));
    moveSelectorTo(index);
    currentIndex = index;
  }

  // ---- scrolling to course (smooth) and immediately update active states
  function scrollToCourse(index) {
    index = Math.max(0, Math.min(index, courses.length - 1));
    const courseWidth = courses[0].offsetWidth || coursesWrapper.clientWidth;
    // trigger scroll
    coursesWrapper.scrollTo({
      left: courseWidth * index,
      behavior: 'smooth'
    });
    // Update UI immediately (so selector resizes on swipe/click without waiting scroll)
    updateActive(index);
  }

  // ---- click handlers on tabs
  tabs.forEach((tab, i) => {
    tab.addEventListener('click', (e) => {
      e.preventDefault();
      scrollToCourse(i);
    });
  });

  // ---- initialize
  updateActive(0);
  // ensure selector positioned after fonts/style applied
  window.requestAnimationFrame(() => moveSelectorTo(currentIndex));

  // ---- touch swipe handling on coursesWrapper
  coursesWrapper.addEventListener('touchstart', (e) => {
    isTouching = true;
    startX = e.touches[0].clientX;
    // stop any ongoing debounce to recalc index after manual movement
    if (scrollDebounceTimer) clearTimeout(scrollDebounceTimer);
  }, { passive: true });

  coursesWrapper.addEventListener('touchmove', (e) => {
    if (!isTouching) return;
    const moveX = e.touches[0].clientX;
    const diff = startX - moveX;
    // threshold to change page while swiping
    if (Math.abs(diff) > 50) {
      if (diff > 0 && currentIndex < courses.length - 1) {
        scrollToCourse(currentIndex + 1);
      } else if (diff < 0 && currentIndex > 0) {
        scrollToCourse(currentIndex - 1);
      }
      isTouching = false; // prevent multiple triggers until next touchstart
    }
  }, { passive: true });

  coursesWrapper.addEventListener('touchend', () => {
    isTouching = false;
    // In case user scrolled manually (not enough to trigger threshold),
    // we wait a moment and snap to the nearest slide
    scrollDebounceTimer = setTimeout(() => {
      snapToNearestCourse();
    }, 120);
  });

  // ---- optional: if user uses mouse wheel / trackpad horizontal scroll
  let wheelTimer = null;
  coursesWrapper.addEventListener('wheel', (e) => {
    if (Math.abs(e.deltaX) > Math.abs(e.deltaY)) {
      // user is horizontally scrolling
      if (wheelTimer) clearTimeout(wheelTimer);
      wheelTimer = setTimeout(() => snapToNearestCourse(), 150);
    }
  }, { passive: true });

  // ---- snap helper: compute nearest index from scrollLeft and snap
  function snapToNearestCourse() {
  const courseWidth = courses[0].offsetWidth || coursesWrapper.clientWidth;

  if (courseWidth <= 0) return; // sécurité

  const left = coursesWrapper.scrollLeft;
  let index = Math.round(left / courseWidth);

  // sécurités anti-retour à 0
  index = Math.max(0, Math.min(index, courses.length - 1));

  // si index est différent de currentIndex → MAJ correcte
  if (index !== currentIndex) {
    updateActive(index);
  } else {
    // même index mais selector pas à jour → MAJ forcée
    moveSelectorTo(index);
  }
}

  // ---- ensure selector updates on manual scroll end as well
  coursesWrapper.addEventListener('scroll', () => {
    // debounce to run snap detection after scrolling stops
    if (scrollDebounceTimer) clearTimeout(scrollDebounceTimer);
    scrollDebounceTimer = setTimeout(() => {
      snapToNearestCourse();
    }, 150);
  }, { passive: true });

  // ---- sync on window resize (recompute widths and reposition)
  window.addEventListener('resize', () => {
    // keep showing the same logical slide after resize
    // use requestAnimationFrame to ensure layout updated
    window.requestAnimationFrame(() => {
      scrollToCourse(currentIndex);
      moveSelectorTo(currentIndex);
    });
  });
});



</script>

    

{% endblock %}